Source: firmwared
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 13),
               gcc,
               libglib2.0-dev,
               libudev-dev,
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/WearHybris/firmwared
Vcs-Git: https://github.com/WearHybris/firmwared

Package: firmwared
Architecture: any
Depends: ${misc:Depends},
Description: Linux Firmware Loader Daemon
